:root {
  --text-headers-color: #2e2520;
  --button-stars-color: #ab816c;
  --primary-black-color: #000;
  --primary-white-color: #fff;
  --menu-hover-color: #876655;

  --main-text: Montserrat, sans-serif;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
