:root {
  --text-headers-color: #2e2520;
  --button-stars-color: #464951;
  --button-hover-color: #d2ccc9;
  --button-clic-color: #dad5d2;

  --primary-black-color: #000;
  --primary-white-color: #fff;
  --menu-hover-color: #876655;
  --registration-form-color: rgba(171, 129, 108, 0.5);
  --registration-background-color: #fffff9;

  --main-text: Montserrat, sans-serif;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
