body {
  background: rgb(240, 233, 233);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  font-style: normal;
  color: var(--text-headers-color);

  background-image: url(../images/background/pic-mob.png), url(../images/background/bottom-mob.png),
    url(../images/background/bg-mob.svg), url(../images/background/bg-bot-mob.svg);

  background-size: 118px 118px, 87px 64px, 100%, 100%;
  background-position: left top, bottom right, top, 0% 90%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

  @media (min-device-pixel-ratio: 2) and (max-width: 767px),
    (min-resolution: 192dpi) and (max-width: 767px),
    (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/background/pic-mob@2x.png),
      url(../images/background/bottom-mob@2x.png), url(../images/background/bg-mob.svg),
      url(../images/background/bg-bot-mob.svg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/background/pic-tabl.png),
      url(../images/background/bottom-tabl.png), url(../images/background/bg-tabl.svg),
      url(../images/background/bg-bot-tabl.svg);

    background-size: 378px 361px, 147px 144px, 100%, 100%;
    background-position: 65% 0, bottom right, top, 50% 85%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../images/background/pic-tabl2x.png),
      url(../images/background/bottom-tabl2x.png), url(../images/background/bg-tabl.svg),
      url(../images/background/bg-bot-tabl.svg);
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/background/pic-dec.png), url(../images/background/spoon-dec.png),
      url(../images/background/bottom-dec.png), url(../images/background/bg-dec.svg),
      url(../images/background/bg-bot-dec.svg);

    background-size: 716px 660px, 143px 449px, 319px 184px, 100%, 100%;
    background-position: right top, 0px 167px, bottom right, top, bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

    font-size: 18px;
    background-color: #fffff9;
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 1280px),
    (min-resolution: 192dpi) and (min-width: 1280px),
    (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: url(../images/background/pic-dec2x.png),
      url(../images/background/spoon-dec2x.png), url(../images/background/bottom-dec2x.png),
      url(../images/background/bg-dec.svg), url(../images/background/bg-bot-dec.svg);
  }
}
