h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  width: 145px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: var(--button-stars-color);
  border-radius: 25px;

  font-family: Caveat Brush;
  font-size: 18px;
  text-align: center;
  color: var(--primary-white-color);

  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
  }

  &:active {
    background-color: var(--button-clic-color);
  }

  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 45px;
    font-size: 24px;
  }
}

.button-more {
  width: 67px;
  height: 65px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: var(--button-stars-color);
  background-color: transparent;

  font-family: Caveat Brush;
  font-size: 18px;
  text-align: center;

  &:hover,
  &:focus {
    color: var(--button-hover-color);
  }

  &:active {
    color: var(--button-clic-color);
  }
}

.title {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 2.7;
  text-align: center;
  color: var(--text-headers-color);

  @media screen and (min-width: 1280px) {
    font-size: 36px;
    line-height: 1.8;
  }
}

hr {
  border: transparent;
}

.social {
  display: flex;
  justify-content: space-between;
  max-width: 61px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
}

.social__icon {
  width: 15px;
  height: 15px;
}
.social__link:hover,
.social__link:focus {
  fill: var(--button-hover-color);
}

.social__link:active {
  fill: var(--button-clic-color);
}

@media screen and (min-width: 768px) {
  .social {
    margin-left: 0;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .social {
    max-width: 78px;
    height: 19px;
  }
  .social__icon {
    width: 19px;
  }
}
