h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section {
  padding: 10px 0;
}

.button {
  display: inline-block;
  width: 145px;
  height: 40px;
  border: none;

  cursor: pointer;
  background: var(--button-stars-color);
  border-radius: 25px;
  color: white;
  animation: animate_pulse 1.5s infinite;

  font-size: 18px;
  text-align: center;
  text-decoration: none;
  @include transition(background-color);

  &:hover,
  &:focus {
    color: var(--primary-black-color);
    background-color: var(--button-hover-color);
  }

  &:active {
    background-color: var(--button-clic-color);
  }

  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 45px;
    font-size: 24px;
  }
}

@keyframes animate_pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(89, 7, 16, 0.4);
  }

  60% {
    box-shadow: 0 0 0 6px rgba(228, 25, 49, 0);
  }
  90% {
    box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}

.button-more {
  position: relative;
  width: 67px;
  height: 65px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: var(--button-stars-color);
  background-color: transparent;
  animation: bounce-top 1.5s infinite both;

  font-family: Caveat Brush;
  font-size: 18px;
  text-align: left;
  @include transition;

  &:hover,
  &:focus {
    color: var(--button-hover-color);
    animation: none;
  }

  &:active {
    color: var(--button-clic-color);
  }
}

@keyframes bounce-top {
  0% {
    opacity: 1;
  }

  35% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.title {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 2.7;
  text-align: center;
  color: var(--text-headers-color);

  @media screen and (min-width: 1280px) {
    font-size: 36px;
    line-height: 1.8;
  }
}

.program__inform-title {
  font-family: 'Caveat Brush';
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 12px;
}

hr {
  border: transparent;
}

.networcs {
  display: flex;
  justify-content: space-between;
  max-width: 61px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
}

.networcs__icon {
  width: 15px;
  height: 15px;
}
.networcs__link {
  @include transition(fill);
}

.networcs__link:hover,
.networcs__link:focus {
  fill: var(--button-hover-color);
}

.networcs__link:active {
  fill: var(--button-clic-color);
}

@media screen and (min-width: 768px) {
  .networcs {
    margin-left: 0;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .networcs {
    max-width: 78px;
    height: 19px;
  }
  .networcs__icon {
    width: 19px;
  }
}
