<section class="section about-us">
    <div class="container about-us__container animate__animated animate__fadeInDown">
        <picture>
            <source srcset="./images/about_us/about_us-desktop.webp 1x, ./images/about_us/about_us-desktop@2x.webp 2x"
                media="(min-width: 1280px)" type="image/webp">
            <source srcset="./images/about_us/about_us-desktop.png 1x, ./images/about_us/about_us-desktop@2x.png 2x"
                media="(min-width: 1280px)">
            <source srcset="./images/about_us/about_us-tablet.webp 1x, ./images/about_us/about_us-tablet@2x.webp 2x"
                media="(min-width: 768px)" type="image/webp">
            <source srcset="./images/about_us/about_us-tablet.png 1x, ./images/about_us/about_us-tablet@2x.png 2x"
                media="(min-width: 768px)">
            <source srcset="./images/about_us/about_us-mobile.webp 1x, ./images/about_us/about_us-mobile@2x.webp 2x"
                media="(min-width: 320px)" type="image/webp">
            <source srcset="./images/about_us/about_us-mobile.png 1x, ./images/about_us/about_us-mobile@2x.png 2x"
                media="(min-width: 320px)">
            <img class="img about-us__img" src="./images/about_us/about_us-mobile.png" alt="Coffee and box of donuts">
        </picture>
        <div class="about-us__text-container">
            <h2 class="title about-us__title" id="about">About us</h2>
            <p class="about-us__text">
                Oh My Donut is the shop which adores tasty deserts
                and spend hours to create sophisticated donuts which will
                save the world!
            </p>
            <p class="about-us__text">
                Eva has been baking since she was six years old and over the last
                49 years, she has created hundreds of cakes for weddings and has
                baked for many celebrities. Eva and our shop have received multiple
                awards & recognition for excellence
            </p>
            <p class="about-us__text is-hidden">
                We are going to teach you how to cook with passion and sparkles
                in your eyes! We love what we do and believe you will
                enjoy our cooking atmosphere!
            </p>
            <button type="button" class="button-more" data-read-more>Read more</button>
        </div>
    </div>
</section>


