<section class="section">
  <div class="container">
    <div class="containe-img">
      <img class="img-my-foto" src="./images/about_us/Angelina@2x.png" alt="Angelina" />
    </div>

    <div class="about-us__text-container">
      <h2 class="title about-us__title" id="about">Добрый день!</h2>
      <p class="text-about-us">
        Меня зовут Ангелина. Мне 22 год и я начинающий кондитер. С 16 лет я пекла разные сладости
        для себя и своей семьи и открыла для себя любовь и желание создавать прекрасные сладости -
        это стало моей мечтой, которую я начинаю реализовывать в жизнь. Я самоучка, поэтому на
        данный момент мои работы не идеальны, но сделаные с любовью и вдохновением и цена у них
        достаточно низка по сравнению с ценами в городе Харьков. Но несмотря на то, что мои цены не
        высокие, качество продукции на высоте! Сейчас предлагаю Вам ознакомится с моим творчеством и
        буду благодарна если Вы приобретёте тортик на праздник или пирожное к чаю!
      </p>
    </div>
  </div>
</section>
