<section class="section">
  <div class="container">
    <h1 class="main-title">ТОРТЫ</h1>
    <ul class="list-cakes">
      <li class="item-cakes">
        <article>
          <h2 class="title-cakes">«Неженка»</h2>
          <div class="container-img-cakes">
            <img src="./images/cakes/Negenka.jpg" alt="Торт Неженка" />
          </div>
          <p class="text-cakes">
            Нежнейший ванильный бисквит с фруктовой пропиткой, крем-чиз в сочетании с персиком и
            бананом.
          </p>
          <p class="prise-cakes">350 грн/кг</p>
          <button class="button button-cakes">Заказать</button>
        </article>
      </li>
      <li class="item-cakes">
        <article>
          <h2 class="title-cakes">«Black cherry»</h2>
          <div class="container-img-cakes">
            <img src="./images/cakes/BlackCherry.jpg" alt="Торт Неженка" />
          </div>
          <p class="text-cakes">
            Влажный шоколадный бисквит, прослойка кислой вишни и шоколадного ганаша, если хочется
            торт «с кислинкой» и крем-чиз
          </p>
          <p class="prise-cakes">350 грн/кг</p>
          <button class="button button-cakes">Заказать</button>
        </article>
      </li>
      <li class="item-cakes">
        <article>
          <h2 class="title-cakes">«Pina Colada»</h2>
          <div class="container-img-cakes">
            <img src="./images/cakes/PinaColada.jpg" alt="Торт Неженка" />
          </div>
          <p class="text-cakes">
            Влажный ванильный бисквит благодаря ананасовой пропитки, кокосовый крем, ананасовое
            компоте в дуете с крем-чизом
          </p>
          <p class="prise-cakes">380 грн/кг</p>
          <button class="button button-cakes">Заказать</button>
        </article>
      </li>
      <li class="item-cakes">
        <article>
          <h2 class="title-cakes">«Exotic»</h2>
          <div class="container-img-cakes">
            <img src="./images/cakes/Exotic.jpg" alt="Торт Неженка" />
          </div>
          <p class="text-cakes">
            Ванильный бисквит пропитанный натуральной манговой пропиткой, мусс манго/маракуйя, для
            любителей экзотики, сливочный крем-чиз
          </p>
          <p class="prise-cakes">360 грн/кг</p>
          <button class="button button-cakes">Заказать</button>
        </article>
      </li>
      <li class="item-cakes">
        <article>
          <h2 class="title-cakes">«Орео»</h2>
          <div class="container-img-cakes">
            <img src="./images/cakes/Oreo.jpg" alt="Торт Неженка" />
          </div>
          <p class="text-cakes">
            Шоколадный бисквит, чизкейк на основе печенья «Орео», шоколадный мусс в сочетании с
            крем-чизом
          </p>
          <p class="prise-cakes">380 грн/кг</p>
          <button class="button button-cakes">Заказать</button>
        </article>
      </li>
      <li class="item-cakes">
        <article>
          <h2 class="title-cakes">«Цитрус-пати»</h2>
          <div class="container-img-cakes">
            <img src="./images/cakes/Citrus.jpg" alt="Торт Неженка" />
          </div>
          <p class="text-cakes">
            Влажный ванильный бисквит, цитрусовая пропитка, апельсиновое кремю, лимонный мусс и
            конечно же крем-чиз
          </p>
          <p class="prise-cakes">350 грн/кг</p>
          <button class="button button-cakes">Заказать</button>
        </article>
      </li>
      <li class="item-cakes">
        <article>
          <h2 class="title-cakes">«Сникерс»</h2>
          <div class="container-img-cakes">
            <img src="./images/cakes/Snikers.jpg" alt="Торт Неженка" />
          </div>
          <p class="text-cakes">
            Шоколадный бисквит с шоколадной пропиткой на натуральной основе, шоколадный мусс, для
            настоящих шокоголиков, домашняя карамель с орешками и крем-чиз
          </p>
          <p class="prise-cakes">370 грн/кг</p>
          <button class="button button-cakes">Заказать</button>
        </article>
      </li>

      <li class="item-cakes">
        <article>
          <h2 class="title-cakes">«Вне сезон»</h2>
          <div class="container-img-cakes">
            <img src="./images/cakes/Sezon.jpg" alt="Торт вне сезон" />
          </div>
          <p class="text-cakes">
            Мягкий ванильный бисквит, запечённый клубничный чизкейк, клубничное конфи
          </p>
          <p class="prise-cakes">350 грн/кг</p>
          <button class="button button-cakes">Заказать</button>
        </article>
      </li>
      <li class="item-cakes">
        <article>
          <h2 class="title-cakes">«Груша - дор блю»</h2>
          <div class="container-img-cakes">
            <img src="./images/cakes/DorBlue.jpg" alt="Торт вне сезон" />
          </div>
          <p class="text-cakes">
            Нежный шоколадный бисквит, запечённый чизкейк с сыром дор блю, для настоящих гурманов,
            грушевая прослойка, сливочный крем-чиз
          </p>
          <p class="prise-cakes">380 грн/кг</p>
          <button class="button button-cakes">Заказать</button>
        </article>
      </li>
      <li class="item-cakes">
        <article>
          <h2 class="title-cakes">«Фисташка-малина»</h2>
          <div class="container-img-cakes">
            <img src="./images/cakes/Fistahka.jpg" alt="Торт вне сезон" />
          </div>
          <p class="text-cakes">
            Нежный фисташковый бисквит, взбитый фисташковый ганаш в сочетании с малиновым конфи и
            крем-чизом
          </p>
          <p class="prise-cakes">380 грн/кг</p>
          <button class="button button-cakes">Заказать</button>
        </article>
      </li>
    </ul>
  </div>
</section>
