<header class="header container">
  <div class="header__desk">
    <nav class="desk-menu">
     <a href="" class="desk-menu__logo">
      <svg class="desk-menu__icon">
        <use href="./images/sprite.svg#icon-logo"></use>
     </svg></a>
     <ul  class="desk-menu__nav-list list">
      <li class="desk-menu__nav-item">
        <a href="#about" class="desk-menu__nav-link">About us</a>
      </li>
      <li class="desk-menu__nav-item">
        <a href="#program" class="desk-menu__nav-link">Program</a>
      </li>
     <li class="desk-menu__nav-item">
        <a href="#reviews" class="desk-menu__nav-link">Reviews</a>
     </li>
     <li class="desk-menu__nav-item">
        <a href="#contacts" class="desk-menu__nav-link">Contacts</a>
    </li>
    </ul>
    </nav>
  </div>
  <div class="header__mobile-menu">
    <a href="" class="header__logo">
    <svg class="header__icon">
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
    </a>

    <button class="hamburger hamburger--spring" type="button" data-menu-burger>
    <span class="hamburger-box  is-active">
      <span class="hamburger-inner"></span>
    </span>
    </button>

    <div class="mobile-menu"  data-menu>
    <div  class="container mobile-menu__container container">
    <a href="" class="mobile-menu__logo">
      <svg class="mobile-menu__icon">
        <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
    </a>
    <ul  class="mobile-menu__nav list">
      <li class="mobile-menu__nav-item">
        <a href="#about" class="mobile-menu__nav-link link">About us</a>
    </li>
    <li class="mobile-menu__nav-item">
        <a href="#program" class="mobile-menu__nav-link link">Program</a>
    </li>
    <li class="mobile-menu__nav-item">
        <a href="#reviews" class="mobile-menu__nav-link link">Reviews</a>
    </li>
    <li class="mobile-menu__nav-item">
        <a href="#contacts" class="mobile-menu__nav-link link">Contacts</a>
    </li>
    </ul>
  </div>
</div>
</div>
</header>



