<header class="header container">
  <div class="header__desk">
    <nav class="desk-menu">
    <a href="" class="desk-menu__logo">
      <svg class="desk-menu__icon">
        <use href="./images/logo.svg#icon-logo"></use>
    </svg></a>
    <ul  class="desk-menu__nav-list list">
      <li class="desk-menu__nav-item">
        <a href="" class="desk-menu__nav-link">About us</a>
    </li>
    <li class="desk-menu__nav-item">
        <a href="" class="desk-menu__nav-link">Program</a>
    </li>
    <li class="desk-menu__nav-item">
        <a href="" class="desk-menu__nav-link">Reviews</a>
    </li>
    <li class="desk-menu__nav-item">
        <a href="" class="desk-menu__nav-link">Contacts</a>
    </li>
    </ul>
  </nav>
  </div>

  <div class="header__mobile-menu">
  <a href="" class="logo header__logo">
    <svg class="header__icon">
      <use href="./images/logo.svg#icon-logo"></use>
  </svg>
  </a>
  
  <button type="button" class="header__mobile-btn" data-menu-button>
    <svg class="header__menu-icon">
        <use href="./images/logo.svg#icon-menu"></use>
    </svg>  
  </button>
</div>
  <div class="mobile-menu"  data-menu>
  <div  class="container mobile-menu__container container">
    <button type="button" class="mobile-menu__close-btn" data-menu-close>
      <svg class="header__menu-icon">
        <use href="./images/logo.svg#icon-close"></use>
    </svg>
    </button>
    <a href="" class="mobile-menu__logo">
      <svg class="mobile-menu__icon">
        <use href="./images/logo.svg#icon-logo"></use>
    </svg>
    </a>
    <ul  class="mobile-menu__nav list">
      <li class="mobile-menu__nav-item">
        <a href="" class="mobile-menu__nav-link link">About us</a>
    </li>
    <li class="mobile-menu__nav-item">
        <a href="" class="mobile-menu__nav-link link">Program</a>
    </li>
    <li class="mobile-menu__nav-item">
        <a href="" class="mobile-menu__nav-link link">Reviews</a>
    </li>
    <li class="mobile-menu__nav-item">
        <a href="" class="mobile-menu__nav-link link">Contacts</a>
    </li>
    </ul>
  </div>
</div>



