<header class="header">
    <nav class="header__nav">
      <a href="" class="logo header__logo">

      </a>
      <ul class="header__menu list">
        <li class="header__menu-item"><a href="" class="header__menu-link">About us</a></li>
        <li class="header__menu-item"><a href="" class="header__menu-link">Program</a></li>
        <li class="header__menu-item"><a href="" class="header__menu-link">Reviews</a></li>
        <li class="header__menu-item"><a href="" class="header__menu-link">Contacts</a></li>
      </ul>
    </nav>
</header>

