
<section class="program">

<div class="program_container container">
    
  <div class="program__left-part">  
    <h2 class="title program__title">Program</h2>
    <p class="program__desc">Indulge in this immersive sweet treat experience with The Chef Donut Queen
    in her New York donut shop!</p>
    <ul class="program__list list">
        <li class="program__item">A stand up history of donuts</li>
        <li class="program__item">Make 3 donut flavors of your choice</li>
        <li class="program__item">Enjoy all-you-can-eat donuts</li>
        <li class="program__item">Cocktail pairings and coffee included</li>
        <li class="program__item">Photoshoot by professional photographer</li>
        <li class="program__item">Secret receipt of cooking from Eva</li>
        <li class="program__item">All products are included in the price</li>
    </ul>
    <p class="program__invitation">Come with your dear people and friends
    and you will spend an unforgettable time and
    will become a real professional
    in donuts cooking!</p>

    </div>

    <div class="program__right-part">
        <ul class="program__advertisement list">
            
            <li class="program__information">
                <picture>                   
                    <source srcset="./images/program/desk-program1.png 1x , ./images/program/desk-program1@2x.png 2x " type="image/png"
                        media="(min-width: 1280px)" />
                        <source srcset="./images/program/mob-program1.png 1x , ./images/program/mob-program1@2x.png 2x "
                            type="image/png" media="(min-width: 320px)" />
             <img src="./images/program/mob-program1.png" alt="" class="program__img">
             </picture>
               <p class="program__inform-title">Type of the event</p> 
               <p class="program__inform-desc">Cooking classes</p>
            <svg class="program__icon program__icon-hat">
                <use href="./images/sprite.svg#icon-chef-hat"></use>
            </svg>
            </li>
            <li class="program__information">
                <picture>
                    <source srcset="./images/program/desk-program2.png 1x , ./images/program/desk-program2@2x.png 2x " type="image/png"
                        media="(min-width: 1280px)" />
                    <source srcset="./images/program/mob-program2.png 1x , ./images/program/mob-program2@2x.png 2x " type="image/png"
                        media="(min-width: 320px)" />
                <img src="./images/program/mob-program2.png" alt="" class="program__img">
                </picture>
               <p class="program__inform-title">Number of guests</p> 
               <p class="program__inform-desc">1 to 20</p>
                <svg class="program__icon program__icon-people">
                    <use href="./images/sprite.svg#icon-people"></use>
                </svg>
            </li>            
            <li class="program__information">
                <picture>
                    <source srcset="./images/program/desk-program3.png 1x , ./images/program/desk-program3@2x.png 2x " type="image/png"
                        media="(min-width: 1280px)" />
                    <source srcset="./images/program/mob-program3.png 1x , ./images/program/mob-program3@2x.png 2x " type="image/png"
                        media="(min-width: 320px)" />
                <img src="./images/program/mob-program3.png" alt="" class="program__img">
                </picture>
               <p class="program__inform-title">Time of the event </p> 
               <p class="program__inform-desc">18:30 (2.5 hours)</p>
            <svg class="program__icon program__icon-clock">
                <use href="./images/sprite.svg#icon-clock"></use>
            </svg>
            </li>
            <li class="program__information">
                <picture>
                    <source srcset="./images/program/desk-program4.png 1x , ./images/program/desk-program4@2x.png 2x " type="image/png"
                        media="(min-width: 1280px)" />
                    <source srcset="./images/program/mob-program4.png 1x , ./images/program/mob-program4@2x.png 2x " type="image/png"
                        media="(min-width: 320px)" />
                <img src="./images/program/mob-program4.png" alt="" class="program__img">
                </picture>
               <p class="program__inform-title">The host speaks</p>
                <p class="program__inform-desc">English, French</p>
            <svg class="program__icon program__icon-chat">
                <use href="./images/sprite.svg#icon-chat"></use>
            </svg>
            </li>
        </ul>
        </div>
</div>

</section>