<section class="review container">
    <div class="review__container">
        <h2 class="review__title title" id="reviews">Reviews</h2>
        <div class="review__box">
            <div class="review__circle">
                <picture>
                    <source srcset="./images/reviews/john-desk.webp 1x, ./images/reviews/john-desk@2x.webp 2x"
                    media="(min-width: 1280px)" type="image/webp">
                <source srcset="./images/reviews/john-desk.jpg 1x, ./images/reviews/john-desk@2x.jpg 2x"
                    media="(min-width: 1280px)">

                <source srcset="./images/reviews/john-tab.webp 1x, ./images/reviews/john-tab@2x.webp 2x"
                    media="(min-width: 768px)" type="image/webp">
                <source srcset="./images/reviews/john-tab.jpg 1x, ./images/reviews/john-tab@2x.jpg 2x"
                    media="(min-width: 768px)">

                <source srcset="./images/reviews/john-mob.webp 1x, ./images/reviews/john-mob@2x.webp 2x"
                    media="(min-width: 320px)" type="image/webp">
                <source srcset="./images/reviews/john-mob.jpg 1x, ./images/reviews/john-mob@2x.jpg 2x"
                    media="(min-width: 320px)">
                    <img class="review__img" src="./images/reviews/john-mob.jpg" alt="John">
                </picture>

            
             <ul class="review__stars stars list">
            
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star"></use>
                    </svg>
                </li>
            </ul>
            <p class="review__name"> John </p>
            </div>

            <div class="review__circle">
                 <picture>
                    <source srcset="./images/reviews/will-desk.webp 1x, ./images/reviews/will-desk@2x.webp 2x"
                    media="(min-width: 1280px)" type="image/webp">
                <source srcset="./images/reviews/will-desk.jpg 1x, ./images/reviews/will-desk@2x.jpg 2x"
                    media="(min-width: 1280px)">

                    <source srcset="./images/reviews/will-tab.webp 1x, ./images/reviews/will-tab@2x.webp 2x"
                    media="(min-width: 768px)" type="image/webp">
                <source srcset="./images/reviews/will-tab.jpg 1x, ./images/reviews/will-tab@2x.jpg 2x"
                    media="(min-width: 768px)">
                    
                <source srcset="./images/reviews/will-mob.webp 1x, ./images/reviews/will-mob@2x.webp 2x"
                    media="(min-width: 320px)" type="image/webp">
                <source srcset="./images/reviews/will-mob.jpg 1x, ./images/reviews/will-mob@2x.jpg 2x"
                    media="(min-width: 320px)">
                    <img class="review__img" src="./images/reviews/john-mob.jpg" alt="Will">
                </picture>
                
                 <ul class="review__stars stars list">
                
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review__name"> Will </p>
            </div>

            <div class="review__circle">
                <picture>
                    <source srcset="./images/reviews/elis-desk.webp 1x, ./images/reviews/elis-desk@2x.webp 2x"
                    media="(min-width: 1280px)" type="image/webp">
                <source srcset="./images/reviews/elis-desk.jpg 1x, ./images/reviews/elis-desk@2x.jpg 2x"
                    media="(min-width: 1280px)">

                    <source srcset="./images/reviews/elis-tab.webp 1x, ./images/reviews/elis-tab@2x.webp 2x"
                    media="(min-width: 768px)" type="image/webp">
                <source srcset="./images/reviews/elis-tab.jpg 1x, ./images/reviews/elis-tab@2x.jpg 2x"
                    media="(min-width: 768px)">
                    
                <source srcset="./images/reviews/elis-mob.webp 1x, ./images/reviews/elis-mob@2x.webp 2x"
                    media="(min-width: 320px)" type="image/webp">
                <source srcset="./images/reviews/elis-mob.jpg 1x, ./images/reviews/elis-mob@2x.jpg 2x"
                    media="(min-width: 320px)">
                    <img class="review__img" src="./images/reviews/elis-mob.jpg" alt="Will">
                </picture>
                    
                     <ul class="review__stars stars list">
                    
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="review__name"> Elisabeth </p>
            </div>   

            <div class="review__circle">
                <picture>
                    <source srcset="./images/reviews/john-desk.webp 1x, ./images/reviews/john-desk@2x.webp 2x"
                    media="(min-width: 1280px)" type="image/webp">
                <source srcset="./images/reviews/john-desk.jpg 1x, ./images/reviews/john-desk@2x.jpg 2x"
                    media="(min-width: 1280px)">

                <source srcset="./images/reviews/john-tab.webp 1x, ./images/reviews/john-tab@2x.webp 2x"
                    media="(min-width: 768px)" type="image/webp">
                <source srcset="./images/reviews/john-tab.jpg 1x, ./images/reviews/john-tab@2x.jpg 2x"
                    media="(min-width: 768px)">

                <source srcset="./images/reviews/john-mob.webp 1x, ./images/reviews/john-mob@2x.webp 2x"
                    media="(min-width: 320px)" type="image/webp">
                <source srcset="./images/reviews/john-mob.jpg 1x, ./images/reviews/john-mob@2x.jpg 2x"
                    media="(min-width: 320px)">
                    <img class="review__img" src="./images/reviews/john-mob.jpg" alt="John">
                </picture>

            
             <ul class="review__stars stars list">
            
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
            </ul>
            <p class="review__name"> John </p>
            </div>

            <div class="review__circle">
                 <picture>
                    <source srcset="./images/reviews/will-desk.webp 1x, ./images/reviews/will-desk@2x.webp 2x"
                    media="(min-width: 1280px)" type="image/webp">
                <source srcset="./images/reviews/will-desk.jpg 1x, ./images/reviews/will-desk@2x.jpg 2x"
                    media="(min-width: 1280px)">

                    <source srcset="./images/reviews/will-tab.webp 1x, ./images/reviews/will-tab@2x.webp 2x"
                    media="(min-width: 768px)" type="image/webp">
                <source srcset="./images/reviews/will-tab.jpg 1x, ./images/reviews/will-tab@2x.jpg 2x"
                    media="(min-width: 768px)">
                    
                <source srcset="./images/reviews/will-mob.webp 1x, ./images/reviews/will-mob@2x.webp 2x"
                    media="(min-width: 320px)" type="image/webp">
                <source srcset="./images/reviews/will-mob.jpg 1x, ./images/reviews/will-mob@2x.jpg 2x"
                    media="(min-width: 320px)">
                    <img class="review__img" src="./images/reviews/john-mob.jpg" alt="Will">
                </picture>
                
                 <ul class="review__stars stars list">
                
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review__name"> Will </p>
            </div>

            <div class="review__circle">
                <picture>
                    <source srcset="./images/reviews/elis-desk.webp 1x, ./images/reviews/elis-desk@2x.webp 2x"
                    media="(min-width: 1280px)" type="image/webp">
                <source srcset="./images/reviews/elis-desk.jpg 1x, ./images/reviews/elis-desk@2x.jpg 2x"
                    media="(min-width: 1280px)">

                    <source srcset="./images/reviews/elis-tab.webp 1x, ./images/reviews/elis-tab@2x.webp 2x"
                    media="(min-width: 768px)" type="image/webp">
                <source srcset="./images/reviews/elis-tab.jpg 1x, ./images/reviews/elis-tab@2x.jpg 2x"
                    media="(min-width: 768px)">
                    
                <source srcset="./images/reviews/elis-mob.webp 1x, ./images/reviews/elis-mob@2x.webp 2x"
                    media="(min-width: 320px)" type="image/webp">
                <source srcset="./images/reviews/elis-mob.jpg 1x, ./images/reviews/elis-mob@2x.jpg 2x"
                    media="(min-width: 320px)">
                    <img class="review__img" src="./images/reviews/elis-mob.jpg" alt="Will">
                </picture>
                    
                     <ul class="review__stars stars list">
                    
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="review__name"> Elisabeth </p>
            </div> 
        </div>

        <div class="desc__box">
            <div class="review__desc">
                <p class="review__text">
                    Last time I have visited a cooking course by Eva <br>
                    I was impressed with the way she explained everything <br>
                    to people. 
                </p> 
                <p class="review__number">
                    1/6
                </p>
            </div>
            <div class="review__desc">
                <p class="review__text">
                    Last time I have visited a cooking course by Eva <br>
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> 
                <p class="review__number">
                    2/6
                </p>
            </div>
            <div class="review__desc">
                <p class="review__text">
                    Last time I have visited a cooking course by Eva <br>
                    I was impressed with the way she explained everything <br>
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!<br>
                    Looking forward to the next one and highly recommend it to everyone!
                </p> 
                <p class="review__number">
                    3/6
                </p>
            </div>
            <div class="review__desc">
                <p class="review__text">
                    Last time I have visited a cooking course by Eva <br>
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> 
                <p class="review__number">
                    4/6
                </p>
            </div>
            <div class="review__desc">
                <p class="review__text">
                    Last time I have visited a cooking course by Eva <br>
                    I was impressed with the way she explained everything <br>
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!<br>
                    
                </p> 
                <p class="review__number">
                    5/6
                </p>
            </div>
            <div class="review__desc">
                <p class="review__text">
                    Last time I have visited a cooking course by Eva <br>
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> 
                <p class="review__number">
                    5/6
                </p>
            </div>
        </div>
    </div>
   
</section>