<section class="review container">
    <div class="review__container animate__animated animate__fadeInDown">
        <h2 class="review__title title" id="reviews">Reviews</h2>
        <div class="review__box">
            <div class="review__circle">
            <img src="./images/review/will.jpg" alt="Will" class="review__img">
            
             <ul class="review__stars stars list">
            
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star"></use>
                    </svg>
                </li>
            </ul>
            <p class="review__name"> Will </p>
            </div>

            <div class="review__circle">
                <img src="./images/review/will.jpg" alt="Will" class="review__img">
                
                 <ul class="review__stars stars list">
                
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review__name"> Will </p>
            </div>

            <div class="review__circle">
                    <img src="./images/review/will.jpg" alt="Will" class="review__img">
                    
                     <ul class="review__stars stars list">
                    
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="review__name"> Will </p>
            </div>   

            <div class="review__circle">
                <img src="./images/review/will.jpg" alt="Will" class="review__img">
                
                 <ul class="review__stars stars list">
                
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review__name"> Will </p>
            </div>

            <div class="review__circle">
                    <img src="./images/review/will.jpg" alt="Will" class="review__img">
                    
                     <ul class="review__stars stars list">
                    
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star-bg"></use>
                            </svg>
                        </li>
                        <li class="stars__item">
                            <svg class="stars__icon">
                                <use href="./images/sprite.svg#icon-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="review__name"> Will </p>
            </div>
            
            <div class="review__circle">
                <img src="./images/review/will.jpg" alt="Will" class="review__img">
                
                 <ul class="review__stars stars list">
                
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star-bg"></use>
                        </svg>
                    </li>
                    <li class="stars__item">
                        <svg class="stars__icon">
                            <use href="./images/sprite.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="review__name"> Will </p>
            </div>  
        </div>

        <div class="desc__box">
            <div class="review__desc">
                <p class="review__text">
                    Last time I have visited a cooking course by Eva <br>
                    I was impressed with the way she explained everything <br>
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> 
                <p class="review__number">
                    1/15
                </p>
            </div>
            <div class="review__desc">
                <p class="review__text">
                    Last time I have visited a cooking course by Eva <br>
                    I was impressed with the way she explained everything <br>
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> 
                <p class="review__number">
                    2/15
                </p>
            </div>
            <div class="review__desc">
                <p class="review__text">
                    Last time I have visited a cooking course by Eva <br>
                    I was impressed with the way she explained everything <br>
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> 
                <p class="review__number">
                    3/15
                </p>
            </div>
            <div class="review__desc">
                <p class="review__text">
                    Last time I have visited a cooking course by Eva <br>
                    I was impressed with the way she explained everything <br>
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> 
                <p class="review__number">
                    4/15
                </p>
            </div>
            <div class="review__desc">
                <p class="review__text">
                    Last time I have visited a cooking course by Eva <br>
                    I was impressed with the way she explained everything <br>
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
                </p> 
                <p class="review__number">
                    5/15
                </p>
            </div>
        </div>
    </div>
   
</section>