<section class="review">
    <div class="review_container container">
        <h2 class="review__title title">Reviews</h2>
        <div class="review__box left">
            <div class="review__circle">
                <img src="./images/review/will.jpg" alt="Will">
            </div>
            <ul class="review__stars stars list">
            
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
            </ul>
            <p class="review__name"> Will </p>
        </div>
        <div class="review__box current">
            <div class="review__circle">
                <img src="./images/review/will.jpg" alt="Will" class="review__img">
            </div>
            <ul class="review__stars stars list">
        
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
            </ul>
            <p class="review__name"> Will </p>
        </div>
        <div class="review__box right">
            <div class="review__circle">
                <img src="./images/review/will.jpg" alt="Will">
            </div>
            <ul class="review__stars stars list">
        
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
                <li class="stars__item">
                    <svg class="stars__icon">
                        <use href="./images/sprite.svg#icon-star-bg"></use>
                    </svg>
                </li>
            </ul>
            <p class="review__name"> Will </p>
        </div>

        <p class="review__text">
            Last time I have visited a cooking course by Eva
            I was impressed with the way she explained everything
            to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
            Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
        </p>

        <p class="review__number">
            2/15
        </p>
    </div>
</section>