.containe-img {
  margin: 0 auto;
  margin-top: 15px;
  width: 200px;
  object-fit: contain;
  overflow: hidden;
}
.img-my-foto {
  display: block;
  width: 100%;
}

.text-about-us {
  text-align: center;
}
