.about-us {
  &__container {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      padding: 0;
      padding-left: 12px;
      padding-right: 67px;
    }
    @media screen and (min-width: 1280px) {
      flex-direction: row;
      padding: 0;
      padding-left: 71px;
      padding-right: 229px;
    }
  }

  &__text-container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 24.35px;
      width: 336px;
    }
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  &__text-container-desktop {
    display: none;
    @media screen and (min-width: 1280px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 76px;
      width: 392px;
    }
  }

  &__title {
    font-family: Caveat Brush;
    font-size: 24px;
    line-height: 2.7;
    color: var(--text-headers-color);

    @media screen and (min-width: 1280px) {
      font-size: 36px;
      line-height: 1.8;
    }
  }

  &__img {
    @media screen and (max-width: 767px) {
      margin: auto;
    }

    @media screen and (min-width: 768px) {
      width: 330px;
      height: 352px;
    }

    @media screen and (min-width: 1280px) {
      width: 512px;
      height: 547px;
    }
  }

  &__text:last-child {
    margin-top: 8px;
  }
}

.read-more-button {
  background-color: transparent;
  border: transparent;
  color: var(--menu-hover-color);
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 3.6;
}

.is-hidden {
  display: none;
}
