.main-title {
  text-align: center;
  margin-bottom: 20px;
}

.item-cakes {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px 10px 25px 10px;
  background-color: rgb(241, 241, 240);
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.title-cakes {
  text-align: center;
  margin-bottom: 10px;
}

.container-img-cakes {
  margin-bottom: 10px;
}

.text-cakes {
  text-align: center;
  margin-bottom: 10px;
}

.prise-cakes {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}
.button-cakes {
  display: block;
  margin: 0 auto;
}
