.registration {
  position: relative;

   /* @media screen and (min-width: 768px) {
      background-image: url('../images/registration/donut.png'),
        url('../images/registration/confetti-tablet.png');
      background-repeat: no-repeat;
      background-size: 256px 256px, 191px 345px;
      transform: rotate(69.49deg), rotate(-47.68deg);
      background-position: left -22px top 0;
    }

    @media (min-device-pixel-ratio: 2) and (min-width: 768px),
      (min-resolution: 192dpi) and (min-width: 768px),
      (min-resolution: 2dppx) and (min-width: 768px) {
      background-image: url('../images/registration/donut@2x.png'),
        url('../images/registration/confetti-tablet@2x.png');
      background-repeat: no-repeat;
      background-size: 256px 256px, 180px 345px;
      transform: rotate(69.49deg), rotate(-47.68deg);
      background-position: left -22px top 0;
    }

    @media screen and (min-width: 1280px) {
      background-image: url('../images/registration/donut.png'),
        url('../images/registration/confetti.png');
      background-repeat: no-repeat;
      background-size: 256px 256px, 301px 544px;
      transform: rotate(69.49deg), rotate(-47.68deg);
      background-position: left 70px top 0;
    }

    @media (min-device-pixel-ratio: 2) and (min-width: 1280px),
      (min-resolution: 192dpi) and (min-width: 1280px),
      (min-resolution: 2dppx) and (min-width: 1280px) {
      background-image: url('../images/registration/donut@2x.png'),
        url('../images/registration/confetti@2x.png');
      background-repeat: no-repeat;
      background-size: 256px 256px, 301px 544px;
      transform: rotate(69.49deg), rotate(-47.68deg);
      background-position: left 70px top 0;
    }*/
  

  &__mobile-container {
    @media screen and (max-width: 767px) {
      background-color: var(--registration-background-color);
      box-shadow: -4px -4px 4px var(--registration-form-color), 4px 4px 4px #ab816c26;
      border-radius: 150px 150px 0px 0px;
      padding-top: 8px;
      padding-bottom: 41px;
      max-width: 290px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__container {
    position: relative;
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      background: var(--registration-background-color);
      box-shadow: -4px -4px 4px var(--registration-form-color),
        4px 4px 4px rgba(171, 129, 108, 0.15);
      border-radius: 150px;
      padding: 54px 21px 35px 35px;
      width: 634px;
    }

    @media screen and (min-width: 1280px) {
      background: var(--registration-background-color);
      box-shadow: -4px -4px 4px var(--registration-form-color),
        4px 4px 4px rgba(171, 129, 108, 0.15);
      border-radius: 150px;
      padding-right: 98px;
      padding-left: 107px;
      width: 822px;
    }

    &::before {
      @media screen and (min-width: 768px) {
        position: absolute;
        left: -88px;
        top: -55px;
        z-index: -1;
        content: url('../images/registration/donut.png');
        width: 256px;
        height: 256px;
      }

      @media screen and (min-width: 1280px) {
        position: absolute;
        left: -165px;
        top: -50px;
        z-index: -1;
        content: url('../images/registration/donut.png'), 
        url('../images/registration/confetti.png');
        width: 256px, 600px;
        height: 256px, 600px;
      }

    }

  }

  &__text-list {
    position: relative;
    @media screen and (max-width: 767px) {
      margin-bottom: 11px;
      border-bottom: 1px solid var(--registration-form-color);
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 29px;
      /* border-right: 1px solid var(--registration-form-color);*/
    }

    &::after {
      display: none;
      @media screen and (min-width: 768px) {
        position: absolute;
        content: '';
        display: block;

        bottom: 0;
        right: 0;
        top: 76px;
        left: 60px;
        width: 190px;
        height: 1px;

        background-color: var(--registration-form-color);
        transform: rotate(90deg);
      }
    }
  }

  &__text {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;

    @media screen and (min-width: 1280px) {
      font-size: 20px;
    }

    &:nth-child(2) {
      margin-bottom: 25px;

      @media screen and (min-width: 768px) {
        margin-bottom: 34px;
      }

      @media screen and (min-width: 1280px) {
        margin-bottom: 30px;
      }
    }

    &:last-child {
      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    text-align: center;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      align-items: flex-start;
      width: 234px;
      margin-left: 30px;
    }
  }

  &__form-title {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 17px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }

    @media screen and (min-width: 1280px) {
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 13px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    @media screen and (min-width: 768px) {
      position: absolute;
      right: 21px;
    }

    @media screen and (min-width: 1280px) {
      position: absolute;
      right: 98px;
    }
  }
}

.registration-form {
  display: flex;
  flex-direction: column;

  &__field:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
    }
  }

  &__field {
    margin-bottom: 25px;
  }

  &__input {
    cursor: pointer;
    border: transparent;
    border-bottom: 1px solid #ab816c;
    width: 256px;
    outline: none;
    background: transparent;

    @media screen and (max-width: 319px) {
      max-width: 256px;
    }

    @media screen and (min-width: 768px) {
      width: 234px;
    }

    &::placeholder {
      color: var(--registration-form-color);
    }
  }
}
