.registration {
  background-color: var(--registration-background-color);

  @media screen and (max-width: 767px) {
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 0px 0px 150px;
  }

  &__container {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__title {
    text-align: center;
  }
}
