.review__container {
  position: relative;
  margin-bottom: 25px;
  text-align: center;
}


.review__box {
  width: 626px;
  margin: auto;
}
.review__title {
  display: inline-block;
  margin-bottom: 10px;
}

.review__circle {
  display: flex;
  align-items: center;

 
}

.review__circle.slick-center {
  height: 311px;
  width: 234px;
  margin-bottom: 22px;

  .review__img {
    margin-top: 20px;
    width: 234px;
    height: 234px;
    margin-bottom: 6px;
  }
}

.review__img {
  display: block;
  width: 136px;
  height: 136px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
 
}

.review__stars {
  display: flex;
  justify-content: space-between;
  width: 136px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}
.stars__icon {
  width: 24px;
  height: 24px;
}

.review__name {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
}

.review__desc {
  padding: 0 100px;
}
.review__text {
height: 132px;
  text-align: center;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 1.22;
  padding: 0 100px;
 
}

.review__number {
  display: inline-block;
  color: #ab816c;
  font-size: 14px;

  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 12px;
    width: 35px;
    height: 1px;
    background-image: url('../images/review/line.svg');
  }

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 12px;
    width: 35px;
    height: 1px;
    background-image: url('../images/review/line.svg');
  }
}

@media screen and (min-width: 768px) {
  .review_container {
    max-width: 654px;
    padding: 67px;
  }

  .review__title {
    margin-bottom: 0px;
    line-height: 0;
  }
  .review__box {
    padding: 0;
  }
  .review__text {
      padding: 0;
      text-align: center;
      margin-bottom: 35px;
      font-size: 16px;
      line-height: 1.25;
     
    }

    .review__img {
      display: block;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      overflow: hidden;
      margin: auto;
      margin-bottom: 6px;
    }

    .review__name {
      font-size: 14px;
    }

    .review__circle.slick-center {
      height: 263px;
      width: 186px;
    
      .review__img {
        margin-top: 20px;
        width: 186px;
        height: 186px;
        margin-bottom: 6px;
      }
    }
}

// @media screen and (min-width: 1280px) {
//   .review__title {
//     margin-bottom: 24px;
//   }

//   .review__text {
//     font-size: 18px;
//     line-height: 1.4;
//   }
//   }

  .review__number {
    font-size: 16px;
  }

