.review__container {
  position: relative;
  margin-bottom: 25px;
  text-align: center;
}

.review__title {
  display: inline-block;
  line-height: 2.1;
}

.review__box {
  margin: auto;
}

.review__circle {
  display: flex;
  align-items: center;
  width: 136px;
  height: 187px;
}

.review__img {
  display: block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 6px;
  transition: width 0.25s, height 0.25s;
}

.review__stars {
  display: flex;
  justify-content: space-between;
  width: 136px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}
.stars__icon {
  width: 24px;
  height: 24px;
}

.review__name {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
}

.review__text {
  text-align: center;
  margin-bottom: 31px;
  font-size: 16px;
  line-height: 1.25;
  height: 220px;
}

.desc__box {
  margin: auto;
}

.review__number {
  display: inline-block;
  color: #ab816c;
  font-size: 14px;

  &::after {
    content: '';
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 12px;
    width: 35px;
    height: 1px;
    background-image: url('../images/review/line.svg');
  }

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 12px;
    width: 35px;
    height: 1px;
    background-image: url('../images/review/line.svg');
  }
}

@media screen and (min-width: 768px) {

  .review__box {
    width: 558px;
    margin: auto;
  }

  .review__circle {
    width: 186px;
    height: 276px;
  }
  
  .review__img {
    width: 110px;
    height: 110px;
   
  }

  .review__circle.slick-center {
    width: 186px;
  
    .review__img {
      margin-top: 20px;
      width: 186px;
      height: 186px;
      
    }
  }

  .review__text {
      margin-bottom: 35px;
      height: 120px;
    }
}

@media screen and (min-width: 1200px) {
  
  .review__box {
    width: 762px;
    margin: auto;
  }
  
  .review__circle {
    display: flex;
    align-items: center;
    width: 136px;
    height: 330px;
  }
  
  .review__img {
    width: 136px;
    height: 136px;
  }
  
  .review__circle.slick-center {
    .review__img {
      margin-top: 20px;
      width: 234px;
      height: 234px;
    }
  }
  
  .review__name {
    font-size: 16px;
  }
  
  .desc__box {
    width: 626px;
  }
  
  .review__text {
    font-size: 18px;
    line-height: 1.22;
    height: 132px;
  }
  
  .review__number {
    font-size: 16px;
  }
}



  

